.footer {
  position: fixed;
  left: 4%;
  right: 4%;
  bottom: 25px;
  display: flex;
  align-items: center;
  .nav-footer{
    white-space: nowrap;
    a{
      margin-right: 30%;
      font-size: .8rem;
      &:hover{
        text-shadow: 2px 2px 1em rgb(84, 104, 194);
      }
    }
  }
small {
  color: #5A5A58;
  font-style: italic;
}
}
.nav-footer a i {
  font-size: 1rem;
  margin-right: .5em;

}
