.footer {
  background: rgba(255, 255, 255, 0.252);
  width: 250px;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  .nav-footer{
    white-space: nowrap;
    a{
      margin-right: 30%;
      font-size: .8rem;
      &:hover{
        text-shadow: 2px 2px 1em rgb(85, 179, 211);
      }
    }
  }
small {
  color: #5A5A58;
  font-style: italic;
}
}
.nav-footer a i {
  font-size: 1rem;
  margin-right: .5em;

}
