.main-nav{
  z-index: 22;
  position: fixed;
  left: 4%;
  top: 2rem;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 13px;
  letter-spacing: 1px;
      @media screen and (max-width:900px){
      justify-content: center;;
    }

  a:nth-of-type(1){
    font-size: 18px;
    margin-right: auto;
    text-transform: capitalize;
    span{
      font-weight: 200;
    }
    @media screen and (max-width:900px){
      display: none;
    }
  }
  a+a {
  margin-left: 4%;
  &:before{
    font-family: FontAwesome;
    content: "\f4d8 \00a0 \00a0";
    display: none;
    @media screen and (max-width:900px){
      display: inline-block;
    }
  }
  }
  a+a:hover{
    text-shadow: 0 0 5px #ffffff;
  }
  
}





