.main-nav{
  z-index: 22;
  position: fixed;
  left: 4%;
  right: 4%;
  top: 25px;
  width: 92%;
  display: flex;
  font-size: 13px;
  letter-spacing: 1px;
  @media screen and (max-width:990px){
    left: unset;
    right: unset;
    top: 0;
    width: 100%;
    display: none;
    background: #363636;
  }
  a:nth-of-type(1){
    font-size: 12px;
    margin-right: auto;
    text-transform: capitalize;
  }
  a+a {
  margin-left: 4%;
  }
  a+a:hover{
    text-shadow: 0 0 5px #ffffff;
  }
  
  @media screen and (max-width:990px){
    left: unset;
    right: unset;
    top: 0;
    width: 100%;
    display: none;
    background: #363636;
  }
}
