.page-about .main{
  min-height: 100%;
  .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  }
}

.about-text{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  word-spacing: 2px;
  font-weight: 400;
}

.about-text {
  line-height: 1.5rem;
  @media screen and (max-width:990px){
      width: 90%;
  }
  button{
    justify-self: center;
  }
}
.about-me .card-about{
  width: 50%;
  margin: 2rem 0 2rem;
  border-top: 1px dotted white;
}