.page-about .main {
.about-text{
  display: flex;
  width: 70%;
  margin: 0 auto;

  font-size: .8rem;
  line-height: 2rem;
  word-spacing: 2px;
  font-weight: 400;

  @media screen and (max-width:900px){
    text-align: justify;
    flex-direction: column;
    justify-content: center;
  }
}

.about-text .about-me{
  line-height: 1.8rem;
  @media screen and (max-width:990px){
      width: 100%;
  }
  button{
    justify-self: center;
  }
}
}
.about-me .card-about{
  margin-top: 3rem;
  border-top: 1px dotted white;
}